<footer class="site-footer">
    <div class="container">
      <div class="footer-container">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-heading">Quiztech</div>
          <div class="footer-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim ligula.Morbi erat libero,
            feugiat in congue eu, mattis quis augue.</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="f-heading">Support</div>
          <ul class="f-content">
            <li>
              <i class="fa fa-phone s-icon"></i>
              <a class="footer-text" href="tel:+61298380242">+61 2 9838 0242</a>
            </li>
            <li>
              <i class="fa fa-envelope s-icon"></i>
              <a class="footer-text" href="mailto:mail@example.com">mail@example.com</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <div class="f-heading">Other Links</div>
          <ul class="f-content">
            <li><a class="footer-text" href="javascript:void(0)" title="Contact us">Contact Us</a></li>
            <li><a class="footer-text" href="javascript:void(0)" title="Terms of Use">Terms of Use</a></li>
            <li><a class="footer-text" href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <div class="f-heading">Social Links</div>
          <ul class="f-content list-inline">
            <li><span><i class="fa fa-facebook-square f-icon"></i></span></li>
            <li><span><i class="fa fa-twitter-square f-icon"></i></span></li>
            <li><span><i class="fa  fa-linkedin-square f-icon"></i></span></li>
            <li><span><i class="fa   fa-pinterest-square f-icon"></i></span></li>
          </ul>
        </div>
      </div>
      </div>
      <div class="copy-section">
        <p>Copyright &copy; 2019 Resume Builder. All Rights Reserved.</p>
      </div>
    </div>
    </footer>
    <!-- footer end -->  