<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Subject</title>
	</head>
<body class="wow fadeIn">
	<!-- header start -->	
	<header class="navbar site-header" id="navbar">
		<div class="container">
			<div class="site-navbar container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#siteNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="javascript:void(0)" class="navbar-brand site-logo resized-link" id="logo">QuizTech</a>
			</div>
			<div class="collapse navbar-collapse" id="siteNavbar">
				<ul class="navbar-nav navbar-right navlink">
					<li>
						<a class="resized-link" href="javascript:void(0)" title="Home">Home</a>
					</li>
					<li>
						<a class="resized-link" href="javascript:void(0)" title="Logout">Logout</a>
					</li>			
				</ul>
			</div>
		</div>
	</header>
	<!-- header end -->
	
	<!-- subject section start -->
	<div class="page-content">
		<div class="container">
			<div class="site-heading">
				<h1>Select your subject</h1>
			</div>
			<div class="card-section">
				<div class="card-row">
					<div class="card-col wow bounceInLeft">
						<div class="card-container">
						<form method="get" action="/instruction">
							<label class="card">
								<input class="card-input-element" type="radio" name="subject-card">
								<div class="card-input">
									<div class="card-state-icon"></div>
									<div class="image">
										<%= image_tag('s1.png', :alt => "subject", :class => 'img-responsive') %>
									</div>
									<div class="c-title">
										<h2>C/C++</h2>
									</div>
								</div>	
							</label>
						</div>
					</div>
					<div class="card-col wow bounceInUp">
						<div class="card-container">
							<label class="card">
							<form method="get" action="/instruction">
								<input class="card-input-element" type="radio"  name="subject-card">
								<div class="card-input">
									<div class="card-state-icon"></div>
									<div class="image">
										<%= image_tag('s2.png', :alt => "subject", :class => 'img-responsive') %>
									</div>
									<div class="c-title">
										<h2>Dbms</h2>
									</div>
								</div>	
							</label>
						</div>
					</div>
					<div class="card-col wow bounceInDown">
						<div class="card-container">
							<label class="card">
							<form method="get" action="/instruction">
								<input class="card-input-element" type="radio" name="subject-card">
								<div class="card-input">
									<div class="card-state-icon"></div>
									<div class="image">
										<%= image_tag('s3.png', :alt => "subject", :class => 'img-responsive') %>
									</div>
									<div class="c-title">
										<h2>Java</h2>
									</div>
								</div>	
							</label>
						</div>
					</div>
					<div class="card-col wow bounceInRight">
						<div class="card-container">
							<label class="card">
							<form method="get" action="/instruction">
								<input class="card-input-element" type="radio" name="subject-card">
								<div class="card-input">
									<div class="card-state-icon"></div>
									<div class="image">
										<%= image_tag('s4.png', :alt => "subject", :class => 'img-responsive') %>
									</div>
									<div class="c-title">
										<h2>Php</h2>
									</div>
								</div>	
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="page-btn">
				<button type="submit" class="btn submit-btn">Submit</button>
			</div>	
			</form>
		</div>
	</div>	
	<!-- subject section end -->
    <script src="js/wow.js"></script>
    <script>
        new WOW().init();
    </script>	
</body>
</html>
	
